.header-primary {
  background: white;
  height: 100px;
  padding: 0 30px;

  .logo-btn {
    width: 250px;
    height: auto;
    cursor: pointer;

    .logo {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  > button:last-of-type {
    padding-right: 0;
    margin-right: 0;
  }
}

.header-secondary {
  height: 120px;
  font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1400 - 768)));
  font-weight: 100;
  padding: 20px 30px;

  > div:first-of-type {
    margin-right: 60px;
  }

  .header__data {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > div:first-of-type {
      margin-right: 30px;
    }

    .header__data__lastSpecies {
      display: flex;
      align-items: center;
    }

    .header__data__lastSpecies:hover {
      cursor: pointer;
      font-weight: 800;
    }
  }
}

.header-mobile {
  display: none;
  height: 60px;
  min-height: 60px;

  .mat-toolbar-row {
    height: 100%;
  }

  .logo-btn {
    width: 160px;
    height: auto;
    cursor: pointer;

    .logo {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .header-primary,
  .header-secondary {
    display: none;
  }

  .header-mobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-height: 600px) {
  .header-primary,
  .header-secondary {
    display: none;
  }

  .header-mobile {
    display: block;
  }
}
