<mat-toolbar class="header-primary">
  <a class="logo-btn">
    <img
      class="logo"
      src="assets/logo_ocells_rars.svg"
      alt="Logo de Seguiment d'ocells rars de Catalunya"
    />
  </a>
  <span class="spacer"></span>
  <button mat-button>Inici</button>
  <button mat-button>Explora</button>
  <button mat-button>Espècies</button>
  <button mat-button>Mapa</button>
</mat-toolbar>

<mat-toolbar color="primary" class="header-secondary">
  <div>
    <div>2024</div>
    <div>
      <span>Nº espècies registrades</span><span class="spacer"></span
      ><span>33</span>
    </div>
    <div><span>Nº registres</span><span>76</span></div>
  </div>

  <div>
    <div>Històric</div>
    <div><span>Nº espècies registrades</span><span>33</span></div>
    <div><span>Nº registres</span><span>76</span></div>
  </div>

  <span class="spacer"></span>

  <div>
    <div>Històric</div>
    <div><span>Nº espècies registrades</span><span>33</span></div>
    <div><span>Nº registres</span><span>76</span></div>
  </div>
</mat-toolbar>

<div class="home-img">
  <img
    class="logo"
    src="assets/foto-portada-ex.jpeg"
    alt="Logo de Seguiment d'ocells rars de Catalunya"
  />
</div>
