.explore {
  margin-bottom: 100px;
  .explore__text {
    width: 70%;
    margin-bottom: 40px;
  }

  .explore__form {
    padding-bottom: 40px;

    .explore__form__card {
      background-color: #009688;
      border-radius: 20px;
      padding: 30px 0;

      .explore__form__card__inner {
        display: flex;
        flex-wrap: wrap;

        .explore__form__card__item {
          width: 33.3333333%;

          mat-card-content,
          mat-card-header {
            padding: 0 30px;
          }

          .mat-mdc-card-content:last-child {
            padding-bottom: 0;
          }

          .explore__form__card__field {
            width: 100%;
            margin-top: 10px;
          }
        }
      }

      .explore__form__card__btn {
        margin-right: 30px;
        text-align: right;

        button {
          width: 20%;
          border-radius: 10px;
        }
      }
    }
  }

  .explore__feedback {
    margin-bottom: 30px;
  }

  .explore--content {
    .explore__section {
      margin-bottom: 30px;
    }

    .example-container {
      height: auto;
      width: 100%;
      max-width: 100%;
      overflow: auto;

      table {
        width: 800px;
      }

      td.mat-column-star {
        width: 20px;
        padding-right: 8px;
      }

      th.mat-column-position,
      td.mat-column-position {
        padding-left: 8px;
      }

      .mat-mdc-table-sticky-border-elem-right {
        border-left: 1px solid #e0e0e0;
      }

      .mat-mdc-table-sticky-border-elem-left {
        border-right: 1px solid #e0e0e0;
      }
    }

    .explore__evolution {
      .explore__evolution__graph {
        height: 400px;
      }
    }
  }
}

@media (max-width: 991px) {
  .explore {
    .explore__text {
      width: 100%;
    }

    .explore__form {
      .explore__form__card {
        .explore__form__card__inner {
          .explore__form__card__item {
            width: 50%;
          }
        }

        .explore__form__card__btn {
          margin-left: 30px;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .explore {
    .explore__text {
      width: 100%;
    }

    .explore__form {
      .explore__form__card {
        .explore__form__card__inner {
          display: block;

          .explore__form__card__item {
            width: 100%;
          }
        }

        .explore__form__card__btn {
          margin-left: 30px;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}
