<div class="container">
  <h1 style="text-align: center">
    {{ isEditMode ? "Editar Observació" : "Nova Observació" }}
  </h1>

  <form
    [formGroup]="observationForm"
    (ngSubmit)="saveObservation()"
    style="text-align: center; margin-bottom: 50px"
  >
    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Espècie"
          formControlName="species"
          required
        />
        <mat-error
          *ngIf="
            observationForm.controls['species'].invalid &&
            observationForm.controls['species'].touched
          "
        >
          L'espècie és obligatòria.
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Quantitat"
          type="number"
          formControlName="amount"
          required
        />
        <mat-error
          *ngIf="
            observationForm.controls['amount'].invalid &&
            observationForm.controls['amount'].touched
          "
        >
          La quantitat és obligatòria.
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input matInput placeholder="Edat" formControlName="age" />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input matInput placeholder="Sexe" formControlName="sex" />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Província"
          formControlName="province"
          required
        />
        <mat-error
          *ngIf="
            observationForm.controls['province'].invalid &&
            observationForm.controls['province'].touched
          "
        >
          La província és obligatòria.
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input matInput placeholder="Localització" formControlName="location" />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Latitud"
          type="number"
          formControlName="latitude"
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Longitud"
          type="number"
          formControlName="longitude"
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Data d'inici"
          type="date"
          formControlName="initial_date"
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Data final"
          type="date"
          formControlName="final_date"
        />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <input matInput placeholder="Observador/a" formControlName="observer" />
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit">
        {{ isEditMode ? "Actualitzar Observació" : "Guardar Observació" }}
      </button>
    </section>
  </form>
</div>
