<section class="section-footer container">
  <div class="footer--content">
    <div class="footer__info">
      <p>
        TFM de <strong>Carla Illa Reguant</strong>
        <br />
        Màster en Desenvolupament de Llocs i Aplicacions Web (UOC, 2024)
      </p>
    </div>
    <div class="footer__menu">
      <div (click)="home()">Inici</div>
      <div (click)="explore()">Explora</div>
      <div (click)="species()">Espècies</div>
      <div (click)="mapa()">Mapa</div>
    </div>
  </div>
</section>
