/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$teal-palette);
$my-app-accent: mat.define-palette(mat.$teal-palette, 800);

$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-app-theme);

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding-inline: calc(100vw * 100 / 1440);
}

.spacer {
  flex: 1 1 auto;
}

h1 {
  padding: 60px 0 40px;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 18px;
  }
}
